@media only screen and (max-width:1920px) {
	.carousel-fade .carousel-inner .item {
		height: 70vh;
	}
	.carousel-caption h3 {
		font-size: 70px;
	}
	.carousel-caption p {
		font-size: 20px;
	}
	.about-two-img img {
		right: 150px;
		width: 600px;
	}

}

@media only screen and (max-width:1366px) {
	.carousel-fade .carousel-inner .item {
		height: 100vh;
	}
	.carousel-caption h3 {
		font-size: 50px;
	}
	.carousel-caption p {
		font-size: 16px;
	}
	.about-two-img img {
		right: 0;
		width: 580px;
	}
}

@media only screen and (max-width:1199px) {
	.center1199 {
		text-align: center !important;
		float: none;
	}
	.header-navbar .navbar-brand {
		margin-top: 16px;
	}
	.about-area {
		text-align: center;
	}
	.about-col img {
		width: 80%;
		margin: 0 auto;
		margin-top: 30px;
		display: block;
	}
	.work-col img {
		width: 80%;
		margin: 0 auto;
		margin-top: 40px;
		display: block;
	}
	.service-area .service-content h4 {
		font-size: 16px;
	}
	.counter-col {
		width: 210px;
		height: 210px;
	}
	.features-box .title {
		font-size: 18px;
	}
	.call-box h1 {
		font-size: 48px;
	}
	.counter .title {
		font-size: 16px;
	}
	.counter .counter-content {
		width: 170px;
		height: 170px;
	}
	.counter .count {
		line-height: 170px;
	}
	.slider-ontext h1 {
		font-size: 40px;
	}
	.support-content h4 {
		font-size: 24px;
	}
	.support-content h3 {
		font-size: 18px;
	}
	.about-col p {
		margin-bottom: 20px;
	}
	.about-box h4 {
		font-size: 14px;
	}
	.hero-col h1 {
		font-size: 48px;
		margin-top: 70px;
	}
	.about-two-area {
		padding: 100px 0 40px;
	}
	.slider-ontext h1 {
		font-size: 80px;
	}
	.post-box .post-title a {
		font-size: 18px;
	}
}


@media only screen and (max-width:1024px) {
	
}

@media only screen and (max-width:991px) {
	.center991 {
		text-align: center;
	}
	.header-topbar {
		padding: 10px 0 0;
	}
	.header-navbar .navbar-default .navbar-nav>li>a {
		margin: 0 19px;
	}
	.header-navbar .navbar-nav .dropdown-menu {
		margin-left: 12px;
	}
	.topbar-social {
	    display: inline-block;
	    margin-left: 5px;
	}
	.navbar-header {
	    
	}
	.header-navbar .navbar-brand {
	    margin-top: 15px;
	}
	.header-navbar .navbar-brand img {
		width: 200px;
	}
	.herader-topbar-col.tobar-rightside span {
		margin-left: 12px;
	}
	.herader-topbar-col .after-bdr:after {
		right: -10px;
	}
	.slider-ontext h1, .slider-ontext h1 span {
		font-size: 40px;
		margin-bottom: 20px;
	}
	.slider-ontext .slider-buttons {
		margin-top: 20px;
	}
	.slider-ontext {
	    
	}
	.features-box .features-content {
	    padding: 20px 15px;
	}
	.our-cilcle:hover {
		-ms-transform: scale(1.05);
    	-webkit-transform: scale(1.05);
    	transform: scale(1.05);
	}
	.testimonial .pic {
		width: 100px;
		height: 100px;
		position: relative;
		margin: 0 auto;
		top: 0;
		left: 0;
		margin-bottom: 20px;
		border-width: 2px;
	}
	.testimonial {
		margin-left: 0;
		border-radius: 5px 5px;
		padding-left: 20px;
		text-align: center;
		padding: 30px 30px;
		margin-bottom: 15px;
	}
	.testimonial .testimonial-title {
		width: 100%;
		display: block;
		float: none;
		border-right: none;
		padding: 0;
		padding-bottom: 10px;
	}
	.testimonial .description {
		width: 100%;
		display: block;
		padding: 0;
	}
	.testimonial .description:before {
		display: none;
	}
	.testimonial .description:after {
		display: none;
	}
	.request-col img {
		width: 60%;
		margin: 0 auto;
		display: block;
		margin-top: 30px;
	}
	.request-title {
		text-align: center;
	}
	.blog-box {
	    margin-bottom: 30px;
	    min-height: 150px;
	}
	.quick-contact {
		
	}
	.our-post {
		border-bottom: none;
	}
	/*.choose-col img {
		width: 70%;
		margin: 0 auto;
		display: block;
	}*/
	.service-area .service-content h4 {
		font-size: 16px;
	}
	.carousel-caption {
		padding: 0 80px;
	}
	.quote-box a {
		width: 25%;
		margin: 0 auto;
		margin-top: 40px;
	}
	.my-search-box {
	    margin-top: 0;
	    margin-bottom: 25px;
	}
	.slider-ontext h1, .slider-ontext h1 span {
		font-size: 69px;
		text-align: center;
	}
	.slider-ontext {
		text-align: center;
	}
	.slider-onimg img {
		width: 70%;
		margin: 0 auto;
	}
	.slider-onimg {
		display: block;
		text-align: center;
		margin-top: 30px;
	}
	.call-number h2 {
		margin: 0;
	}
	.call-number {
		margin: 50px 0;
		text-align: center;
	}
	.call-box {
		text-align: center;
		margin: 0;
	}
	.call-box h1 {
	    font-size: 60px;
	}
	.request-col {
		text-align: center;
	}
	.about-img-col {
		
	}
	.gallery-two-area .filtr-item {
		width: 33.33%;
	}
	.hero-col h1 {
		margin-top: 0;
	}
	.hero-area {
		text-align: center;
		padding: 90px 0 70px;
	}
	.hero-col {
		margin-bottom: 30px;
	}
	.about-two-area {
		padding: 100px 0 70px;
	}
	.form-area .btn {
		/*margin-bottom: 100px;*/
	}
	.sidebar-search {
		margin-top: 70px;
	}
	.blog-sidebar-area-two .sidebar-search  {
		margin-top: 0;
	}



	
}



@media only screen and (max-width:767px) {
	.center767 {
		float: none;
		text-align: center;
	}
	.header-topbar .topbar-arrow {
		display: none;
	}
	.header-navbar .navbar-brand {
		padding: 0 15px;
		margin-top: 10px;
	}
	.header-navbar .navbar-toggle {
		border-radius: 0;
		margin: 20px 15px 10px;
		border-color: #999999;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #999999;
	}
	.header-navbar .navbar-default .navbar-nav>li>a {
		margin-left: 0;
		padding: 12px 0;
	}
	.navbar-nav {
	    max-height: 350px;
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	    background-color: transparent;
	}
	.main-nav.top-nav-collapse .icon-bar {
		background: #333333;
	}
	.navbar-collapse {
		margin-top: 20px;
	}
	.container>.navbar-collapse {
		margin-left: 0;
		margin-right: 0;
	}
	.main-nav .navbar-right {
		background: #f1f1f1;
		margin: 0 -15px;
		padding: 10px 0;
	}
	.main-nav .navbar-nav>li {
		width: 100%;
		text-align: center;
	}
	.main-nav .navbar-nav>li>a {
		margin-top: 0;
		margin-left: 0;
		color: #666666;
	}
	.navbar-header {
		float: left;
		width: 100% !important;
	}
	.header-navbar .navbar-nav {
		text-align: left;
	}
	.mega-menu>li {
		width: 50%;
	}
	.main-slider-area .carousel-control .glyphicon-chevron-right {
	    right: 10px;
	}
	.herader-topbar-col.tobar-rightside {
		text-align: center;
	}
	.slider-ontext {
		text-align: center;
	}
	.slider-col img {
		width: 60%;
		margin: 0 auto;
		display: block;
		margin-top: 30px;
	}
	.slider-ontext .slider-buttons {
	    margin-top: 25px;
	}
	.our-cilcle {
		width: 100%;
		height: auto;
		-webkit-border-radius: 5px;
    	-moz-border-radius: 5px;
    	-ms-border-radius: 5px;
    	-o-border-radius: 5px;
    	border-radius: 5px;
	}
	.our-cilcle:hover {
	    -ms-transform: scale(1);
	    -webkit-transform: scale(1);
	    transform: scale(1);
	}
	.work-content {
		padding: 20px 10px;
	}
	.work-content h4 {
		font-size: 24px;
	}
	.rocket-img {
		width: 50%;
	}
	.carousel-caption h3 {
		font-size: 36px;
	}
	.header-topbar {
		padding: 0;
	}
	.main-logo {
		display: block;
		text-align: center;
		margin-bottom: 20px;
	}
	.header-middle {
	    padding: 20px 0;
	}
	.my-info-box i {
		position: relative;
	}
	.my-info-box {
		padding-left: 0;
		text-align: center;
	}
	.navbar-header {
	    float: none;
	    width: 78px !important;
	    margin: 0 auto;
	}
	.header-navbar .navbar-default .navbar-nav>li>a {
		margin-right: 0;
		margin: 0 15px;

	}
	.header-navbar .navbar-collapse {
		overflow-x: hidden;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #d6d6d6;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, 
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
		color: #ffffff;
	}
	.header-navbar .navbar-default .navbar-nav>.open>a, 
	.header-navbar .navbar-default .navbar-nav>.open>a:focus, 
	.header-navbar .navbar-default .navbar-nav>.open>a:hover {
		color: #ffffff;
	}
	.my-search-box {
		margin-top: 10px;
	}
	.quote-box a {
	    width: 30%;
	    margin: 0 auto;
	    margin-top: 20px;
	}
	.slider-ontext h1, .slider-ontext h1 span {
		font-size: 58px;
	}
	.customar-info {
	    margin-bottom: 30px;
	}
	.insurance-single-area {
	    padding: 100px 0 55px;
	}
	.my-info-box i {
		border: none;
		margin-bottom: 10px;
	}
	.about-two-area {
		padding: 100px 0 60px;
	}
	.filtr-item, .gallery-two-area .filtr-item  {
		width: 50%;
	}
	.carousel-caption {
		text-align: center;
	}
	.carousel-caption p {
		letter-spacing: 0;
		font-size: 18px;
		letter-spacing: 1px;
	}
	.call-area {
		padding: 0;
	}
	.call-box {
		margin-top: 100px;
	}
	.call-number {
		margin-bottom: 100px;
	}
	.call-number h2 {
		line-height: 50px;
	}



	
}


@media only screen and (max-width:650px) {
	.slider-ontext h1, .slider-ontext h1 span {
	    font-size: 45px;
	}
}


@media only screen and (max-width:600px) {
	.fw600 {
		width: 100%;
	}
	.text-center600 {
		float: none;
		text-align: center;
	}
	.main-nav .navbar-brand {
		width: 180px;
		height: auto;
	}
	.our-doctor .social-group li a {
		margin: 0;
		width: 30px;
    	height: 30px;
    	font-size: 12px;
    	line-height: 30px;
	}
	.about-image-box {
		width: 100%;
	}
	.about-image-box:before {
		left: 0;
		bottom: 0;
		border: none;
	}
	.about-col:hover .about-image-box:before {
		left: 0;
		bottom: 0;
	}
	.about-image-title h3 {
		padding-left: 20px;
		padding-bottom: 10px;	
	}
	.welcome-col h1 {
		font-size: 36px;
	}
	.callback-col h2 {
		line-height: 36px;
	}
	.about-image-box:before {
	    width: 100%;
	    height: 100%;
	}
	.about-image-title {
		left: 0;
	}
	.about-col:hover .about-image-title {
		bottom: 0;
	}
	.our-post {
		padding-bottom: 0;
	}
	.service-area .service-content h4 {
		font-size: 18px;
	}
	.carousel-caption {
		top: 48%;
	}
	.slider-col img {
		width: 100%;
	}
	.call-box h1 {
	    font-size: 42px;
	}
	.request-col img {
		width: 100%;
	}
	.hero-col h1 {
		font-size: 45px;
	}
	.slider-ontext {
		padding: 100px 0;
	}
	
}

@media only screen and (max-width:480px) {
	.separator-col h2 {
		font-size: 24px
	}
	.separator-col h4 {
		font-size: 16px;
		font-weight: normal;
	}
	.box .box-content:before, .box .box-content:after {
		border: none;
	}
	.about-col img {
		width: 100%;
	}
	.rocket-img {
	    width: 80%;
	    margin-bottom: -60px;
	}
	.blog-img img{
		position: relative;
		margin-bottom: 20px;
	}
	.blog-box {
		padding-left: 0;
		text-align: center;
	}
	.carousel-fade .carousel-inner .item {
		height: 70vh;
	}
	.carousel-caption {
	    padding: 0 50px;
	    top: 45%;
	}	
	.carousel-caption h3 {
		font-size: 24px;
	}
	.full-wd480 {
		width: 100%;
	}
	.my-info-box {
		margin-bottom: 30px;
	}
	.quote-box a {
		width: 50%;
		margin-top: 0;
	}
	.slider-ontext h1, .slider-ontext h1 span {
	    font-size: 34px;
	}
	.call-box h1 {
	    font-size: 36px;
	}
	.call-number h2 {
		font-size: 36px;
	}
	.filtr-item, .gallery-two-area .filtr-item {
		width: 100%;
	}
	.hero-col h3 {
		margin-bottom: 20px;
	}
	.hero-col .slider-buttons a {
		margin-top: 10px;
		margin-right: 0;
	}
	.hero-col h1 {
	    font-size: 36px;
	}
	.video-col h2 {
		font-size: 22px;
	}
	.blog-img img {
		width: 100%;
		height: auto;
		margin-bottom: 0;
	}

}

@media only screen and (max-width:420px) {
	.slider-col img {
		
	}
	.slider-ontext h1, .slider-ontext h1 span {
		font-size: 30px;
	}
	.slider-ontext .cd-headline {
		font-size: 18px;
	}
	.slider-ontext {
		
	}
	.slider-content {
		
	}
	.header-navbar .navbar-brand img {
		width: 160px;
	}
	.header-navbar .navbar-brand {
		margin-top: 14px;
	}
	.slider-content .theme-btn {
		font-size: 14px;
		padding: 15px 30px;
	}
	.section-title h2 {
		line-height: 35px;
	}
	.rocket-img {
	    width: 80%;
	}
	.page-heading-col {
		padding: 40px 70px;
	}
	.page-heading-col h2 {
		font-size: 30px;
	}
	.pagination li a.page-link {
		font-size: 16px;
	}
	.pagination {
		padding: 0;
		background: transparent;
	}
	.pagination li:first-child a.page-link {
		margin-right: 0;
	}
	.pagination li:last-child a.page-link {
		margin-left: 0;
	}
	.tab .nav-tabs li a {
		padding: 0 8px 0;
		font-size: 15px;
	}
	.tab .nav-tabs {
		padding-left: 0;
	}
	.carousel-caption {
		top: 42%;
	}
	.carousel-caption .theme-btn {
		padding: 10px 25px;
	}
	.section-title h2 {
		font-size: 28px;
	}
	.call-box h1 {
	    font-size: 28px;
	}
	.term-box ul li {
		font-weight: normal;
	}
	.insurance-single-col h2 {
		font-size: 24px;
	}

}

@media only screen and (max-width:375px) {
	.news-item h4 a {
	    font-size: 12px;
	}
	.slider-ontext h1, .slider-ontext h1 span {
	    font-size: 22px;
	}
	.call-number h2 {
	    font-size: 28px;
	}
	.call-box h1 {
	    font-size: 26px;
	}
	.service-two-area .service-col h4 {
		font-size: 22px;
	}
	.hero-col h1 {
	    font-size: 28px;
	}
	.carousel-caption p {
		font-size: 15px;
	}
}



@media only screen and (max-width:320px) {

}


